@import "govuk/toolkit";
@import "govuk/elements";
@import "govuk/template";
@import "skillsforcare/question_index";
@import "skillsforcare/message_summary";

.site-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.padding-bottom {
  padding-bottom: 3em;
}

.margin-bottom {
  margin-bottom: 20px;
}

.breadcrumbs  li {
  background-image: url('/css/images/separator.png');
}