@import "govuk/toolkit";
@import "govuk/elements";
@import "govuk/template";

.site-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.padding-bottom {
  padding-bottom: 3em;
}

.breadcrumbs  li {
  background-image: url('/css/images/separator.png');
}