/htdocs/node_modules
/htdocs/public/hot
/htdocs/public/storage
/htdocs/storage/*.key
/htdocs/vendor
/htdocs/composer.json
/htdocs/composer.lock
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/htdocs/.env
.DS_Store
